<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style/style.css')}}">
	<script src="http://cdn.jsdelivr.net/npm/mathjax@2/MathJax.js?config=AM_CHTML"></script>
	<title>Virtual Labs Dei-Linear Control Systems</title>
	<link rel = "icon" href = 
"https://www.vlab.co.in/images/logo.jpg" 
        type = "image/x-icon">
</head>
<body>
	<header id="header">
		<button class="menu-btn" id="head-btn" onclick="dispmenu()">
			<div class="bar"></div>
			<div class="bar"></div>
			<div class="bar"></div>
		</button>
		<a href="https://www.vlab.co.in/"><img src="https://www.vlab.co.in/images/logo.jpg"></a>
		        <div class="right-head">
            <a href="https://www.vlab.co.in/">HOME</a>
            <a href="https://www.vlab.co.in/participating-institutes">PARTNERS</a>
            <a href="https://www.vlab.co.in/contact-us">CONTACT</a>
        </div>
	</header>
	<div class="navigation-bar">
		<a href="../../index.html">Physical Sciences Lab</a>  <a href="../index.html">Experiments</a>
	</div>
	<section class="csection" id="csec">
		<nav class="side-nav" id="navbar">
			<div class="nav-element">
				<a href="{{url_for('exp1')}}" ><span class="cp">Aim</span></a>
			</div>
			<div class="nav-element">
				<a href="{{url_for('theory1')}}" >Theory</a>
			</div>
			<div class="nav-element">
				<a href="{{url_for('obj1')}}" >Objectives</a>
			</div>
			<div class="nav-element">
				<a href="{{url_for('pre1')}}" >Pretest</a>
			</div>
			<div class="nav-element">
				<a href="{{url_for('pro1')}}" >Procedure</a>
			</div>
			<div class="nav-element">
				<a href="{{url_for('sim1')}}" >Simulation</a>
			</div>
			<div class="nav-element">
				<a href="{{url_for('post1')}}" >Posttest</a>
			</div>
			<div class="nav-element">
				<a href="{{url_for('ref')}}" >References</a>
			</div>
			<div class="nav-element">
				<a href="{{url_for('feed')}}" >Feedback</a>
			</div>
			</nav>
			<main class="main-section" id="main-sec">
		<div class="heading">
			<h1>Theory</h1>
		</div>
		
		<div  class="des" id="des">
				<p> <center><h3 >Simple Harmonic Motion</h3></center>
					<p>Simple harmonic motion (SHM) is a type of oscillating motion.
					When there is a slight disturbance from their equilibrium or rest postion, it will oscillate with harmonically . 
					This is the most fundamental vibration of a single particle or one-dimensional system. 
					A small displacement x from its equilibrium position sets up a restoring force which is proportional
					to x acting in a direction towards the equilibrium position</p></p>
					<center>
					<p>
					`F = -kx`<br>
				    </p>
				    </center>
					<p>
					It is used to model many situations in real life where a mass oscillates about an equilibrium point. 
					<strong>Examples are illustrated below:</strong></p><br>
					<ol class="examples">
						<li><b>Simple Pendulum </b></li>
						      <p> It is a simple pendulum, 
							   a mass `m` swinging at the end of a light rigid rod of length `l`</p>
							   <img src="{{url_for('static', filename='img/simple.gif')}}" alt="pendulum" width="300px" height="200px">
							   
						<li><u>Mass attatched to the spring</u></li>
						      <p>A mass fixed to a wall via a spring of stiffness s sliding to and fro in the `x`
							  direction on a frictionless plane</p>
                              <img src="{{url_for('static', filename='img/spring mass system.gif')}}" alt="spring mass" width="100px" height="200px">
							  <br>
							  <img src="{{url_for('static', filename='img/mass spring system2.gif')}}" alt="spring mass" width="300px" height="200px" ><br>
						    	
						<li><u>U-Tube example using shm motion</u></li>
				        <p>
						Motion of an oscillating liquid column in a U tube is SHM with period, `T = 2\pigh` ,
						 where h is the height of liquid column in one arm of U tube in equilibrium position of liquid.
						  Therefore, `T` is independent of density of liquid.</p>
						  <img src="{{url_for('static', filename='img/u-tube.gif')}}" alt="u-tube" width="300px" height="200px">
						<!-- <li><u>U-tube</u></li>
						      <p> is a frictionless U-tube of constant cross-sectional area containing a length l of
							  liquid, density ρ, oscillating about its equilibrium position of equal levels in each
							  limb.</p> -->
						<li><u>LC Oscillator</u></li>
						      <p>  is an electrical circuit, an inductance L connected across a capacitance `C` carrying
								a charge `q`.</p>
								<img src="{{url_for('static', filename='img/lc oscillator.gif')}}" alt="lc oscillator" width="300px" height="200px">
					</ol>
					<p>The governing equation for the  motion is :-</p> 
						 
							<div class="cmath">
								<p style="padding:10px; border: 2px solid red; margin-right:500px; text-align: center;">`m \ddot x + b \dot x + kx = F_o sin( \omega t + \phi)`</p>
								
							</div>
							
						   
								
								<ul style="None">
								<li>`m`: mass of the ball in kg</li><br>
							       <li>`b`: damping factor in (Ns/m)</li><br>
								   <li>`k` : spring constant in N/m</li><br>
                                   <li>`F_o`: Force in Newton(N)</li><br>
								   <li>`\omega`: driven frequency in rad/sec</li><br>
								   <li>`t`: time period</li><br>
								   <li>`\phi`: phase angle</li><br>

								</ul>
							</p>
					</p>
					<center>
					<h2><u>Free Oscillators</u> </h2> </center>
					<ul type="None">
						<li><p>Free oscilations occurs when the motion 
							is maintained by gravitational or elastic restoring forces, such as the 
							swinging motion of a pendulum or the vibration of an elastic rod
							The simplest type of vibrating motion is undamped free vibration </p></li>
							<br>
						<li><p> <strong>Example:</strong>Some examples of free oscillations are oscillations of simple pendulum, 
							oscillations of object connected to a horizontal spring, 
							sound produced by tuning fork in short distance, notes of musical instruments, organ pipe, etc.</p> </li>
						<p>Horizontal spring mass system</p>
						<img src="{{url_for('static', filename='img/horizontal spring mass system.gif')}}" alt="horizontal" width="300px" height="200px">
						<p> Tuning fork</p>
						<img src="{{url_for('static', filename='img/tuning fork.gif')}}" alt="tuning fork" width="300px" height="200px" >  
						<li><p><u><strong>Nature of free oscillations</strong></u> <br>
							Amplitude and frequency of a freely vibrating body remains constant. 
							They do not lose or gain any energy in the process. 
							Free vibrations for sound can occur only in vacuum. 
							Such vibrations are ideal conditions of oscillations. 
							It is not possible to practically realize free oscillations. </p></li>
						<li><p> In this type of motion `F_o`, `b` (damping factor)=0<br> So the equation(1) is :
							<div class="cmath">
								<p style="padding:10px; border: 2px solid red; margin-right:500px; text-align: center;">`m \ddot x + kx = 0`</p>
								
							</div></p>
							
						<li><p style="color:darkmagenta;">The solution of the equation is:- `Acos(\omegat+\phi)` which represents simple harmonic motion </p></li>
						<li><p>where amplitude  is give as:</p></li>
							<li><div class="cmath">
								<p style="padding:10px; border: 2px solid red; margin-right:500px; text-align: center;">`A= \frac{F_o}{m\sqrt{(\omega^2-\omega_o^2)^2 + 4\gamma^2m^2`</p>
								
							</div>	</p></li>
					       <li><p><strong><div class="cmath" style="color:blue;"><p>ω<sub>o</sub> is the natural frequency of the system :
							`\sqrt\frac{k}{m}`</p>
							
						</div></p> </li></strong>
						
					</ul>
					  
					<br> </p>
					<center>

						<h2><u>Damped Oscillators</u> </h2> </center>
						<ul type="None">
							<li><p>A damping oscillation is one in which the moving particle gradually loses its
								kinetic energy on interaction with resistive forces like air or friction.
							   Due to this resistance offered by external forces,
							   the displacement of a particle slowly reduces with time and ultimately reaches its state of rest. </li></p>
							</li>
								
							<li><p><strong>Example:</strong>A simple pendulum oscillating under natural conditions.
								Shock absorbers in vehicles are an example of damping devices that reduce the vehicle’s vibrations.</p></li>
							<p> Shock Absorbers</p>
							<img src="{{url_for('static', filename='img/large.gif')}}" alt="shock absorbers" width="300px" height="200px">
							
							<!--<p style="color:blue;"> Let us consider the characteristic equation which is : mx<sup>2</sup> + γ x + k.
							<br> it has discriminant which equals to: γ<sup>2</sup>-4mk. <br>It can be<ol style="color:blue;">
								<li>positive </li>
								<li>negative</li>
								<li>zero</li>
							</ol></p>
							<li><u><strong><p>Types of Damping</p></strong></u> 
								
								<li>-->
								<p>If the damping force `F_o` ,is proportional to the velocity `v_o`, with a damping constant `b`, then<br>
									<p style = "padding:10px; border: 2px solid red; margin-right:700px; text-align: center;">F<sub>o</sub> = -b𝑣<sub>o</sub></p>
								<p> here `v_o` so `F_o`= 0 
								The equation of motion (1) becomes:</p>
                                <div class="cmath">
									<p style="padding:10px; border: 2px solid red; margin-right:500px; text-align: center;">`m \ddot x + b \dot x + kx = 0`</p>
									
								</div>
								
								<div class="cmath">
									<p style="color:rgb(71, 0, 71)">Solution to the equation is :`A e ^ {-\gamma t} cos(\omegat+\phi)`</p>
									
								</div>
								
								<div class="cmath">
									<p>where, `\gamma = \frac{b}{2m}`and, <br>
									
								 b: damping factor ,<br>
									m : mass of the ball in kg.<br>
									and amplitude is given by:-</p></div>
									<div class="cmath">
										<p style="padding:10px; border: 2px solid red; margin-right:500px; text-align: center;">`A = \frac{F_o}{m\sqrt{(\omega^2-\omega_o^2)^2 + 4\gamma^2m^2`</p>
										
									</div>
									<p> ω<sub>o</sub> is natural frequency of the damped system and `\omega`' is the frequency of the damped oscillator.<br>
										<div class="cmath">
											<p style="padding:10px; border: 2px solid red; margin-right:500px; text-align: center;">`\omega\' = \sqrt{\frac{k}{m}-\frac{b^2}{4m^2}}`</p>
											
										</div>
								 </p>
								
								<p>Under certain conditions damping is of three types:-</p>
                                    <strong><u><p>1.Under Damping</p></u></strong>
								   <p>When damping is small, the system vibrates at first approximately 
									as if there were no damping, but the amplitude of the solutions decreases exponentially.<br>
									 
									<strong>Example :</strong> a swinging pendulum decreasing in amplitude until it comes to a stop.<br>
									<p><u>Under damped oscillations:</u> `b` < 1 </p>  <br>

								    <div class="cmath"><p style="padding:10px; border: 2px solid red; margin-right:500px; text-align: center;">
										`x(t) = A e ^ {-\gamma t} cos(\omegat+\phi)`<br>where,<br>`\gamma= \frac{b}{2m}`: `b`<1</p></div><br>
									

                                    <strong><u><p>2.Critical Damping</p></u></strong>
								   <p>When a critically damped oscillator is displaced from the equilibrium,
									 it will return to rest at its equilibrium position in the shortest possible time without oscillating.
									 Critical damping occurs when the position of the mass will asymptotically approach 0. Depending on the initial velocity, it will either 
									 go monotonically to zero or reach some maximum displacement before it turns around and goes to 0.<br><br>
									 <strong>Example: </strong>car suspension systems prevent the car from oscillating
									 after travelling over a bump in the road.<br>
									 <u><p>Critically damped oscillations:</u> `b` = 1  </p><br>
									 <div class="cmath"><p style="padding:10px; border: 2px solid red; margin-right:500px; text-align: center;">
										`x(t) = A e ^ {-\gamma t} cos(\omegat+\phi)`<br>where,<br>`\gamma= \frac{b}{2m}`: b = 1 </p></div><br>
									 
									 </p>
                                    <strong><u><p>3.Over Damping</p></u></strong>
								<p>When a heavily damped oscillator is displaced from the equilibrium, 
									it will take a long time to return to its equilibrium position without oscillating .
									When damping is that large, the system does not oscillate at all.<br>
									 <strong>Example:</strong> car suspension systems prevent the car from oscillating after travelling 
									over a bump in the road<br>
									 <u><p>Over damped oscillations:</u> `b` > 1 </p>
									 <div class="cmath"><p style="padding:10px; border: 2px solid red; margin-right:500px; text-align: center;">
										`x(t) = A e ^ {-\gamma t} cos(\omegat+\phi)`<br>where,<br>`\gamma= \frac{b}{2m}`: b>1 </p></div><br>
										</p> 
									
							</li>
						</ul>
						<center>
						<h2><u>Forced Oscillators</u> </h2>
					    </center>
						<ul type="None">
							<li><p>Forced oscillations occur when an oscillating system is driven by a periodic force that is external to the oscillating system.
							</p>
							</li>
							<li>
								<p><strong><u>Example:-</u></strong>Applying force for movement of a pendulum
								turning of a radio </p><br>
								
							</li>
							<p>The equation is:<br></p>
							<li><div class="cmath">
								<p style="padding:10px; border: 2px solid red; margin-right:500px; text-align: center;">`m \ddot x + b \dot x + kx = F_o sin( \omega t + \phi)`</p>
								
							</div>
							</li>
							<li><p>here <br>ω: driven frequency for forced oscillations.<br> F<sub>o</sub>:force for the forced oscillator</p></li>
							<li><u><strong><p>Resonance</p></strong></u> 
								<p>If the forcing frequency is close to the natural frequency of the system, 
								and the system is lightly damped, huge vibration amplitudes may occur. 
								 This phenomenon is known as resonance. </p> </li></li>
							<li> <p>1. musical instruments (acoustic resonance).   <br> 
								2. Most clocks keep time by mechanical resonance in a balance wheel,   pendulum, or quartz crystal. <br>
								3. Tidal resonance of the Bay of Fundy.<br>   
								4. Orbital resonance as in some moons of the solar system's gas giants.  <br>  
								5. The resonance of the basilar membrane in the ear.    <br>
								6. Making a child's swing swing higher by pushing it at each swing.  <br>  
								7. A wineglass breaking when someone sings a loud note at exactly the right   pitch.</p><br>
						   </li>
						   
						   <center> <h3> <u><p>Additional Information:</p></u></h3></center>
						   <li> <p>There are some other types of oscillations such as :-</p></li>
						   <center>
						   <h3> <u><strong><p> Coupled Oscillators</p></strong></u> </h3> </center>
						   <p>Coupled Oscillations occur when two or more oscillating systems are connected 
						   in such a manner as to allow motion energy to be exchanged between them.  
						   Coupled oscillators occur in nature (e.g., the moon and earth orbiting each other)
						    or can be found in man-made devices (such as with the pacemaker)</p>
							<img src="{{url_for('static', filename='img/Coupled_oscillators.gif')}}" alt="coupled oscillators" width="300px" height="200px">
						
						   
						</li>
						</ul>
			</div>
		</main>
		
	</section>
<footer >
            <div class="foot1">
                <div class="fheading">
                    <h4>Community Links</h4>
                </div>
                <div class="fdes">
                    <a href="https://sakshat.ac.in/">Sakshat Portal</a>
                    <a href="http://outreach.vlabs.ac.in/">Outreach Portal</a>
                    <a href="https://www.vlab.co.in/faq">FAQ: Virtual Labs</a>
                </div>
            </div>
                <div class="foot2">
                <div class="fheading">
                    <h4>Contact us</h4>
                </div>
                <div class="fdes">
                    <p>Phone: General Information:</p>
                    <p >011-26582050</p>
                    <p>Email: support@vlabs.ac.in</p>
                </div>
                </div>
                <div class="foot3">
                <div class="fheading">
                    <h4>Follow Us</h4>
                </div>
                <div class="fdes desm">
                    <a href="" class="sm" style="background:#fff;margin:15px 5px;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25.2" height="25.2" fill="#3B5998" class="bi bi-facebook" viewBox="0 0 16 16">
                            <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"/>
                        </svg>
                    </a>
                    <a href="https://twitter.com/TheVirtualLabs" class="sm" style="background:#55acee ;margin:15px 5px;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-twitter" viewBox="0 0 16 16" style="position: relative; left: 4px; top:5px;">
                            <path d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"/>
                        </svg>
                    </a>
                    <a href="" class="sm" style="background:#e52d27;margin:15px 5px;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-youtube" viewBox="0 0 16 16" style="position: relative; left: 4px; top:5px;">
                         <path d="M8.051 1.999h.089c.822.003 4.987.033 6.11.335a2.01 2.01 0 0 1 1.415 1.42c.101.38.172.883.22 1.402l.01.104.022.26.008.104c.065.914.073 1.77.074 1.957v.075c-.001.194-.01 1.108-.082 2.06l-.008.105-.009.104c-.05.572-.124 1.14-.235 1.558a2.007 2.007 0 0 1-1.415 1.42c-1.16.312-5.569.334-6.18.335h-.142c-.309 0-1.587-.006-2.927-.052l-.17-.006-.087-.004-.171-.007-.171-.007c-1.11-.049-2.167-.128-2.654-.26a2.007 2.007 0 0 1-1.415-1.419c-.111-.417-.185-.986-.235-1.558L.09 9.82l-.008-.104A31.4 31.4 0 0 1 0 7.68v-.123c.002-.215.01-.958.064-1.778l.007-.103.003-.052.008-.104.022-.26.01-.104c.048-.519.119-1.023.22-1.402a2.007 2.007 0 0 1 1.415-1.42c.487-.13 1.544-.21 2.654-.26l.17-.007.172-.006.086-.003.171-.007A99.788 99.788 0 0 1 7.858 2h.193zM6.4 5.209v4.818l4.157-2.408L6.4 5.209z"/>
                        </svg>
                    </a>
                    <a href="https://in.linkedin.com/in/virtual-labs-008ba9136" class="sm" style="background:#2867B2; margin:15px 5px;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#fff" class="bi bi-linkedin" viewBox="0 0 16 16" style="position: relative; left: 5px; top:5px;">
                        <path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z"/>
                        </svg>
                    </a>
                </div>
                    </div>
                    <div class="endfoot">
                        <a href="https://www.gnu.org/licenses/agpl-3.0.en.html">AGPL 3.0</a>  &  <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons (CC BY-NC-SA 4.0)</a>
                    </div>
        </footer>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=default'></script>
	<script type="text/javascript" src="src/js/main.js"></script>
</body>
</html>